<!-- component -->

<div
    class="bg-purple-900 absolute top-0 left-0 bg-gradient-to-b from-gray-900 via-gray-900 to-purple-800 bottom-0 leading-5 h-full w-full overflow-hidden">

</div>
<div class="relative   min-h-screen  sm:flex sm:flex-row  justify-center bg-transparent rounded-3xl ">
    <div *ngIf="!loading" class="flex-col  self-center lg:px-14 sm:max-w-6xl xl:max-w-xl  z-15">
        <div class="p-4 bg-white  container mx-auto rounded-3xl w-96 row">
            <div class="">
                <h3 class="font-semibold  text-gray-900 text-center">REGISTRARME </h3>
            </div>
            <div class="space-y-auto p-2 g-1 row">
                <div class="relative p-2  col">
                    <input [(ngModel)]="ci" id="ci"
                        class=" w-full text-sm  px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-purple-400"
                        type="number" placeholder="Cedula de Identidad.." onkeypress="return filtroEntrada(event)">
                </div>
                <div class="relative p-2 items-center col" >
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="establecimiento_ci">      
                        <option selected value >Centro de salud</option>                            
                        <option  *ngFor="let item of listEstablecimiento"
                                 value="{{item.id_establecimiento}}">
                                 {{item.nombre_establecimiento}}
                        </option>                   
                    </select>
                </div>


                <div class="relative p-2 ">
                    <input [(ngModel)]="nombre" id="nombre" required
                        class=" w-full text-sm  px-4 py-4 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-purple-400"
                        type="text" placeholder="Nombre..">
                </div>

                <div class="relative p-2">
                    <input [(ngModel)]="apellido" id="apellido"
                        class=" w-full text-sm  px-6 py-4 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-purple-400"
                        type="" placeholder="Apellido..">
                </div>



                <div class="relative p-2">
                    <input [(ngModel)]="email" id="email"
                        class=" w-full text-sm  px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-purple-400"
                        type="" placeholder="Correo Electronico..">
                </div>

                <div class="relative p-2 col">
                    <input [(ngModel)]="password" id="password"
                        class="text-sm text-black px-4 py-3 rounded-lg w-full bg-gray-200 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-purple-400"
                        placeholder="Contraseña.." type="password">
                </div>

                <div class="relative p-2 col">
                    <input [(ngModel)]="repitpassword" id="repitpassword"
                        class=" w-full text-sm  px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-purple-400"
                        type="password" placeholder="Repite..">
                </div>


                <div class="flex justify-center gap-5 w-full p-2">
                    <button type="submit" routerLink="/logIn"
                        class="w-full flex items-center justify-center mb-8 md:mb-0 border border-gray-300 hover:border-gray-900 hover:bg-gray-900 text-sm p-3  rounded-lg tracking-wide font-medium  cursor-pointer transition ease-in duration-500">
                        <span>Cancelar</span>
                    </button>

                    <button type="submit" (click)="addUser();"
                        class="p-2 w-full flex items-center justify-center mb-8 md:mb-0 border border-gray-300 hover:border-gray-900 hover:bg-gray-900 text-sm  p-3  rounded-lg tracking-wide font-medium  cursor-pointer transition ease-in duration-500">
                        <span>Registrar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>

</div>